.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color: rgb(42, 34, 88);
  font-size: 28px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #f7f7f9; /* roxo mais elegante */
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  & button {
    border-radius: 30px;
    background-color: rgb(42, 34, 88);
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
  }

  & button:hover {
    opacity: 0.9;
    transform: translateY(-2px);
  }

  & input {
    height: 40px;
    border-radius: 30px;
    padding: 0 20px;
    border: 1px solid rgb(42, 34, 88); /* borda combinando */
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
  }

  & input:focus {
    border-color: #ff9ecd; /* realce no foco */
    box-shadow: 0 0 5px rgba(255, 158, 205, 0.5);
  }

  & .input-with-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f9; /* igual ao form */
  margin: 10px;
  width: 400px;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);

  & p {
    color: rgb(85, 80, 80);
    font-weight: bold;
  }

  & span {
    font-weight: normal;
  }

  & button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #e85d75; /* vermelho rosado para excluir */
    font-size: 18px;
    transition: color 0.3s ease;
  }

  & button:hover {
    color: #ff7b94; /* tom mais claro no hover */
  }
}
